.drawer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 56px; /* drawer abaixo do navbarr */
    width: 80%;
    height: calc(100% - 56px); /* a altura do navbar influencia pro drawer aparecer abaixo */
    overflow: auto;
    background-color: gray; /*rgb(0,0,0);*/    
    padding-top: 60px;
}